html {
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
}

/* input {
  border-radius: 5px;

  color: black;
} */

/* Custom Classes */

.marker-active {
  z-index: 1;
}

@media (min-width: 280px) {
  body {
    font-size: 1.4rem;
  }
}

@media (min-width: 340px) {
  body {
    font-size: 1.6rem;
  }
}
